
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rectangularDatePicker {
    width: 25em;
    height: 2.5em;
    border: 2px solid black;
    margin-bottom: .35em;
    display: flex;
    justify-content:space-between;
}

#date {
    margin-left: 1.5em;
    margin-top: .25em;
    font-size: 1.5em;
}

button {
    background-color: transparent;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem
}

button:hover {
    cursor: pointer;
    background-color: #ddd;
}


#squareCalendar {
    width: 25em;
    height: 25em;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

#month {
    display: flex;
    justify-content: space-around;
}