
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rectangularDatePicker {
    width: 25em;
    height: 2.5em;
    border: 2px solid black;
    margin-bottom: .35em;
}

#squareCalendar{
    width: 25em;
    height: 25em;
    border: 2px solid black;
}