html {
    font-family: "Caveat", cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rectangularDatePicker {
    width: 25em;
    height: 2.5em;
    border: 2px solid black;
    margin-bottom: .35em;
    display: flex;
    justify-content:space-between;
}

#date {
    margin-left: 1.5em;
    margin-top: .25em;
    font-size: 1.5em;
}

button {
    background-color: transparent;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: #ddd;
}

#calendar {
    font-size: 1.5em;
} 


#squareCalendar {
    width: 25em;
    height: 25em;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

#monthBox {
    display: flex;
    justify-content: space-between;
}

#month {
    font-size: 2em;
}

.fa-arrow-left, .fa-arrow-right {
    font-size: 2em;
}

#left {
    padding-right: 2rem;
}

#right {
    padding-left: 2rem;
}

#daysOfTheWeek {
    margin-top: 1.25rem;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}

#daysGrid {
    border-top: 2px solid black;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    justify-items: stretch;
    gap: 2px;
    background-color: black;
}

.day {
    background-color: #fff;
    text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    #rectangularDatePicker {
        width: 35em; /* Multiply by 1.4 */
        height: 3.5em; /* Multiply by 1.4 */
        border: 2px solid black;
        margin-bottom: .5em; /* Multiply by 1.4 */
    }

    #squareCalendar {
        width: 35em; /* Multiply by 1.4 */
        height: 35em; /* Multiply by 1.4 */
    }

    #date {
        margin-left: 2em; /* Multiply by 1.4 */
        font-size: 2em; /* Multiply by 1.4 */
    }

    button {
        padding-left: 1.4rem; /* Multiply by 1.4 */
        padding-right: 1.4rem; /* Multiply by 1.4 */
    }

    #calendar {
        font-size: 2em; /* Multiply by 1.4 */
    } 

    #month {
        font-size: 2.8em; /* Multiply by 1.4 */
    }

    .fa-arrow-left, .fa-arrow-right {
        font-size: 2.8em; /* Multiply by 1.4 */
    }

    #daysOfTheWeek {
        margin-top: 1.75rem; /* Multiply by 1.4 */
    }

    /* #daysGrid {
        border-top: 2px solid black;
        gap: 2px;
        background-color: black;
    } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #rectangularDatePicker {
        width: 45em;    /* Multiply by 1.3 */
        height: 4.5em;  /* Multiply by 1.3 */
        margin-bottom: .65em; /* Multiply by 1.3 */
    }

    #squareCalendar {
        width: 45em;    /* Multiply by 1.3 */
        height: 45em;   /* Multiply by 1.3 */
    }

    #date {
        margin-left: 2.6em;     /* Multiply by 1.3 */
        font-size: 2.6em;       /* Multiply by 1.3 */
    }

    button {
        padding-left: 1.8rem;       /* Multiply by 1.3 */
        padding-right: 1.8rem       /* Multiply by 1.3 */
    }

    #calendar {
        font-size: 2.5em;   /* Multiply by 1.3 */
    } 

    #month {
        font-size: 3.6em;   /* Multiply by 1.3 */
    }

    .fa-arrow-left, .fa-arrow-right {
        font-size: 3.6em;   /* Multiply by 1.3 */
    }

    #daysOfTheWeek {
        margin-top: 2.275rem;   /* Multiply by 1.3 */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #rectangularDatePicker {
        width: 54em;                    /* Multiply by 1.2 */
    }

    #squareCalendar {
        width: 54em;                    /* Multiply by 1.2 */
    }

    #date {
        /* margin-left: 1.5em; */
        /* font-size: 1.5em; */
    }

    button {
        /* padding-left: 1rem; */
        /* padding-right: 1rem */
    }

    #calendar {
        /* font-size: 1.5em; */
    } 

    #month {
        /* font-size: 2em; */
        color: green;
    }

    .fa-arrow-left, .fa-arrow-right {
        /* font-size: 2em; */
    }

    #daysOfTheWeek {
        /* margin-top: 1.25rem; */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #rectangularDatePicker {
        width: 64em;
    }

    #squareCalendar {
        width: 64em;
    }

    #date {
        /* margin-left: 1.5em;
        font-size: 1.5em; */
    }

    button {
        /* padding-left: 1rem;
        padding-right: 1rem */
    }

    #calendar {
        /* font-size: 1.5em; */
    } 

    #month {
        /* font-size: 2em; */
        color: blue;
    }

    .fa-arrow-left, .fa-arrow-right {
        /* font-size: 2em; */
    }

    #daysOfTheWeek {
        /* margin-top: 1.25rem; */
    }

}